body {
    margin: 3px;
  }
  .btnRedirectHome {
      margin-left: 10px;
      margin:2px;
      height: 100%;
      text-align : center;
      font-size: 14px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .footer{
  
      padding-top: 5px;;
  }
  .btnRenderingToOrgPage{
      padding: 10px;
      margin: 15px;
      background-color: rgb(209, 111, 111);
      border: 3px solid rgb(131, 121, 121);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  } 
  .btnConfirm{
      margin-left: 90px;
      margin-top: 10px;
      font-style: "italic";
      background-color: rgb(30, 100, 121);
      height: 30px;
      padding: 5px;
      
  }
  
  .btnDonateOrg{
      margin-left: 30%;
      background-color: rgb(47, 114, 114);
      border: 3px solid rgb(131, 121, 121);
      border-radius: 7px;
      text-align : center;
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .App-logo-header {
      height: 100%;
      width: 200px;
  }
  
  .btnOrg{
      background-color: rgb(47, 114, 114);
      border: 3px solid rgb(131, 121, 121);
      border-radius: 7px;
      text-align : center;
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
  
  }
  .orgBody_css{
      /* padding-top: 500px; */
  
  }
  
  .initialDonation{
      padding-left: 22%;
      /* margin-left: 20px; */
      padding-bottom: 10px;
      padding-top:0px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .initialDonationValue{
      margin-left: 5px;
      font-size: 18px;
  } 
  
  .doners{
      margin-left:30px;
      margin-top: 15px;
      padding: 3px;
      width: 450px;
      box-shadow:
      /* The top layer shadow */
          -2px -5px 10px 7px rgba(0,0,0,0.25),
              /* The second layer */
          0 10px 10px 5px #eee,
              /* The second layer shadow */
          0 10px 1px -4px rgba(0,0,0,0.25),
              /* The third layer */
          0 20px 0 -10px #eee,
              /* The third layer shadow */
          0 20px 1px -9px rgba(0,0,0,0.25);
  }
  
  .btnConfirm{
      margin-left: 90px;
      margin-top: 10px;
      text-align : center;
      padding: 7px;
      font-style: "italic";
      background-color: rgb(84, 141, 158);
      border: 2px solid rgb(28, 50, 110);
      border-radius: 15px;
      height: 30px;
     
  }
  .fillFormDoners{
      margin-left: 15px;
      padding-left: 20px;
  }
  .org-spech-card{
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }
  .orgPage{
      padding-top: 50 px;
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* 
  .navbar {
      background-color: purple;
      height: 100px;
      color: whitesmoke;
      margin-bottom: 15px;
      text-align: center;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .clock {
      
      color: green;
  }
  
  .todo-list {
      background-color: white;
      margin: auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #efefef;
      box-shadow:
      /* The top layer shadow */
          /* 0 1px 1px rgba(0,0,0,0.15), */
              /* The second layer */
          /* 0 10px 0 -5px #eee, */
              /* The second layer shadow */
          /* 0 10px 1px -4px rgba(0,0,0,0.15), */
              /* The third layer */
          /* 0 20px 0 -10px #eee, */
              /* The third layer shadow */
          /* 0 20px 1px -9px rgba(0,0,0,0.15);
      padding: 30px;
  } */
  /* 
  .todo-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 30px 20px 0;
      width: 70%;
      border-bottom: 1px solid #cecece;
      font-family: Roboto, sans-serif;
      font-weight: 100;
      font-size: 15px;
      color: #333333;
  } */
  /* 
  input[type=checkbox] {
      margin-right: 10px;
      font-size: 30px;
  }
  
  input[type=checkbox]:focus {
      outline: 0;
  }
  button {
      border: 1px solid lightgray;
      background-color: transparent;
      padding: 10px;
      border-radius: 4px;   
  }
  
  button:hover {
      cursor: pointer;
  }
  
  button:focus {
      outline:0;
  } */ 
  
  
  /* div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  } */